#content{
    display: flex;
    flex-wrap: nowrap;
    max-height: 400px;
    border:1px solid black;
    
}
.image{
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 5%;
    width: 100%;
    height: 2hvh;
  }
#hotel-image{
    display: inline;
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    border-right: 1px solid black;
}
#hotel-image>img{
    max-height: 350px;
    margin: auto auto;
    
    justify-content: center;
    
}
#form-div{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:  wrap;
    
}

h5{
    font-family: cursive;
}
#container{
    height: 100%;
    width: 100%;
    margin: 0px;
    color:black;
    
}

#logo {
    height: 60px;
    width: 60px;
}

#social_media_img{
    height: 20px;
    width: 22px;
}

#hotel_img{
    width: 500px;
    height: 500px;
    margin:2% 4% 0% 4% ;
    
}
form{
    margin: 0% 4% 1% 4%;
}
#hotel-description{
    margin: 1% 4% 2% 4%;
    
}
header{
    background-color: rosybrown;
}

footer{
    background-color: rosybrown;
}
#hotel-details{
    margin-right: 4%;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: ;
}
