
#container{
    height: 100%;
    width: 100%;
    margin: 0px;
    color:black;
}

#logo {
    height: 60px;
    width: 60px;
}

#social_media_img{
    height: 20px;
    width: 22px;
}

#hotel_img{
    width: 500px;
    height: 500px;
    margin:2% 4% 0% 4% ;
    
}
form{
    margin: 0% 4% 1% 4%;
}
#hotel-description{
    margin: 1% 4% 2% 4%;
    
}
header{
    background-color: rosybrown;
}

footer{
    background-color: rosybrown;
}
#hotel-details{
    margin-right: 4%;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: ;
}