
#container{
    height: 100%;
    width: 100%;
    margin: 0px;
    color:black;
}

#logo{
    height: 60px;
    width: 60px;
}

#social_media_img{
    height: 20px;
    width: 22px;
}
#hotel_img{
    height: 150px;
    width: 150px ;
}


.content{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2%;
    margin-top:2%;
}


.view-option{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.map-view{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content>.list-view>#hotel-list{
    margin:2%;
    background-color:lightgray;
    width:40%;
    height: 200px;
}
#hotel-list{
    margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
}
.list-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#list-view-container{
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 20px;
}

#list-view-items{
    width: auto;
}

.map-view{
    display: none;
}
.list-view>#hotel-list, .list-view>a>#hotel-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
     margin: 2%;
    background-color: rgb(132, 136, 139);
    width: 40%;
}
.list-view>#hotel-list>.image>img, .list-view>a>#hotel-list>.image>img{
    height:200px;
    width:250px;
}


.textDiv{
    text-decoration: none;
    padding: 3%;
}
