#container{
    height: 100%;
    width: 100%;
}

#logo{
    height: 60px;
    width: 60px;
}

#social_media_img{
    height: 20px;
    width: 22px;
}
#hotel_img{
    width: 500px;
    height: 500px;
}