
#container{
    height: 100%;
    width: 100%;
    margin: 0px;
    color:black;
}

#logo {
    height: 60px;
    width: 60px;
}


header{
    background-color: rosybrown;
}

footer{
    background-color: rosybrown;
}

#logo{
    height: 60px;
    width: 60px;
}

#social_media_img{
    height: 20px;
    width: 22px;
}
#hotel_img{
    width: 500px;
    height: 500px;
    
}
#hotel{
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    /*
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    */
    margin: 2% auto 2% auto ;
}

#customer-detail{
    margin: 2%;
}
#tarrif{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2% 1% 2%;

    /*
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    */
}